# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore modules, themes and libraries
sites/all/modules/*
!sites/all/modules/.keep

sites/all/themes/*
!sites/all/themes/.keep

sites/all/libraries/*
!sites/all/libraries/.keep

